#template {
    display: none;
}

#header {
    background: #EDEDED url(straws.png); 
    height: 80px;
    width: 100%;
    top: 0px;    
    left: 0px;
    position: absolute;
    box-shadow: 1px 1px 4px 1px #BBB;     
}

#date_header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -8px;
}

#add_task {
    width: 100px;
    margin: auto;
    padding: 2px;  
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
    color: #6A45FF;
}

#task_area {
    width: 85%;
    margin: 120px auto 20px auto;
}

.task_checkbox {
    display: inline; 
    margin: 0px 15px 0px 0px;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

.task {
    font-size: 18px;
    background: white;
    color: black;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    border-radius: 15px; 
    border: 1px solid #ddd;
    /*-moz-box-shadow: 4px 4px 10px 1px #ccc;*/
    /*-webkit-box-shadow: 4px 4px 10px 1px #ccc;*/
    /*box-shadow: 4px 4px 10px 1px #ccc;     */
} 

.task_input {
    width: 90%;
    height: 17px;
}

.delete_label {
    float: right;
    padding: 0px 8px 0px 0px;
    cursor: pointer;
}

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

.best_in_place {
    cursor: text;
}

#sortable li { 
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
    font-size: 1.4em; 
    height: 18px; 
    cursor: move;
}